body {

}

.upload-images-section {
    background: white;
    border-radius: 15px;
    padding: 20px;
}

.input-area {
    margin-bottom: 10px;
}

.containerBox {
    position: relative;
    display: inline-block;
}

    .containerBox:hover > img {
        opacity: 0.8;
        filter: grayscale(1);
        /*background-color: #000;*/
        cursor:pointer;
    }

    .containerBox:hover > .text-box {
        display: inline-block;
    }

.text-box {
    position: absolute;
    height: 100%;
    text-align: center;
    width: 100%;
}

    .text-box:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

.not-display {
    display: none;
}

h5 {
    display: inline-block;
    font-size: 20px;
    color: #FFF;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.red-box {
    background-color: red;
    width: 100%;
}