@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model VideoStreamingShop.MVC.ViewModels.Video.VideoViewModel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div>
    <div style="display:flex; padding:10px 10px">
        <div style="display:inline">
            <img src="@Model.ImageUri" style="max-width:300px; max-height:300px; border-radius:5px" />
        </div>
        <div style="display:inline; margin-left:30px">
           <div>
               <h2 style="color:white">@Model.Name</h2>
               <div>
                   <div style="font-size: 1.5rem; font-weight: 700; color:white">
                       $@Model.Price
                   </div>
               </div>
               <p style="text-align:justify; color:white">
                   @Model.Description
               </p> 
               <div>
                   <a class="btn btn-success">Buy</a>
                   <a class="btn btn-outline-secondary">Download</a>
               </div>

           </div>
        </div>
    </div>
    <div style="margin-top: 30px; justify-content:center;">
        <h2 style="text-align:center; color:white">
            Watch Now
        </h2>
    </div>
    <div style="display:flex; justify-content:center; padding:10px 10px">
        <video src=""  style="width:100%; height:100%" controls />
    </div>
</div>