@model VideoStreamingShop.MVC.ViewModels.Video.UploadFileViewModel

<form enctype="multipart/form-data" method="post">

    <input asp-for="Name" />
    <input asp-for="Description" />
    <input asp-for="File" />

    <input asp-page-handler="UploadFile" class="btn" type="submit" value="Upload" />
</form>